

.scroll-pane {
    -fx-background-color: black;
    -fx-border-color: gold;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: gold;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: gold;
    -fx-padding: 5;
}
			
.triangle-button {
    -fx-shape: "M 0 0 L 100 50 L 0 100 Z";
    -fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	 -fx-background-color: #475865;
}

.triangle-button-left {
    -fx-shape: "M 100 0 L 0 50 L 100 100 Z";
    -fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	 -fx-background-color: #475865;
   
}

.rectangle-button {
    -fx-text-fill:white;
    -fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	 -fx-background-color: #475865;
    
    
}			
			
.custom-menu-item{
	 -fx-background-color: #ffffff;
    -fx-background-radius: 10; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0.5, 0, 0); 
}

.des-label {
    -fx-text-fill: rgba(128, 128, 128, 0.9);
    -fx-font-family: 'Eras Medium Light';
}

.lobby-header-label {
    -fx-text-fill: black;
    -fx-font-family: 'Eras Medium Light';
    -fx-font-weight: bold;
    -fx-background-color: white;
}


.lobby-normal-label {
    -fx-text-fill: white;
    -fx-font-family: 'Eras Medium Light';
    -fx-background-color: #475865;
}
.lobby-normal-label-2 {
    -fx-text-fill: white;
    -fx-font-family: 'Eras Medium Light';
    -fx-background-color: grey;
}
.vertical-progress-bar {
    -fx-rotate: 90;
    -fx-pref-height: 200px;
    -fx-pref-width: 20px;
}

.progress-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


.blue-glow-hbox {
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, blue, 10, 0.5, 0, 0);
}

.lobby-table-header {
   
    -fx-border-color: rgba(255,255,255,1);
	-fx-border-width: 1.5px;
	
    -border-top-left-radius: 10px; /* Abgerundete obere linke Ecke */
    -border-top-right-radius: 10px; /* Abgerundete obere rechte Ecke */
    -background-top-left-radius: 10px; /* Abgerundete obere linke Ecke */
    -background-top-right-radius: 10px; /* Abgerundete obere rechte Ecke */
   -border-bottom-left-radius: 0;  /* Keine Abrundung unten links */
    -border-bottom-right-radius: 0; /* Keine Abrundung unten rechts */ 
}

.lobby-table-header-2 {
    -fx-border-color: rgba(255,255,255,1);
	-fx-border-width: 1.5px;
	
    -border-top-left-radius: 10px; /* Abgerundete obere linke Ecke */
    -border-top-right-radius: 10px; /* Abgerundete obere rechte Ecke */
    -background-top-left-radius: 10px; /* Abgerundete obere linke Ecke */
    -background-top-right-radius: 10px; /* Abgerundete obere rechte Ecke */
   -border-bottom-left-radius: 0;  /* Keine Abrundung unten links */
    -border-bottom-right-radius: 0; /* Keine Abrundung unten rechts */ 
}


.aiConfig-label{
	font-family: 'Eras Bold ITC', sans-serif;
    font-size: 24px;
    -fx-text-fill: white
}
.spinner-des-label {
   -fx-font-family: "Eras Medium Light";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    
}


.des-label2 {
    -fx-text-fill: rgba(128, 128, 128, 0.9);
    -fx-font-family: 'Eras Medium Light'; 
}

.des-timer {
    -fx-text-fill: rgba(255,255,255,1);
    -fx-font-family: 'Eras Medium Light'; 
}

.timer-box{
	 -fx-background-color: rgb(25,25,25);
	  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0.5, 0, 0); 
}

.figure-label{
   -fx-text-fill: rgb(25,25,25) ;
    -fx-font-family: 'Eras Medium Light';
}




.timer-label {
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 28px;
    -fx-text-fill: #FFD700;
   -fx-background-color: rgb(25,25,25);
   -fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	  -fx-background-radius: 10px; 
	 -fx-border-radius: 10px;
    -fx-alignment: center;
}

.progress-pane {
	 -fx-background-color: blue;
	 -fx-background-radius: 20px; 
	 -fx-border-radius: 20px;
	 -fx-alignment: center;
}
.vertical-label {
    -fx-rotate: 270;
    -fx-text-fill: white;
     -fx-translate-y: 50%;
     -fx-alignment: center;
    
}

.play-pane {
	 -fx-background-color: #475865;
}
.number-label {
     -fx-font-family: 'Courier New', monospace; 
    -fx-font-size: 24px; 
    -fx-text-fill: #FFD700; 
    -fx-padding: 5px 10px;
    
}
.button25{
	-fx-background-color: rgb(25,25,25); 
    -fx-text-fill: white; 
    -fx-font-size: 16px;
    -fx-font-weight: bold; 
    -fx-border-color: white; 
     -fx-background-radius: 20px; 
    -fx-border-radius: 20px; 
     -fx-border-width: 2px;   
}

.info-vbox {
    -fx-background-color: #000000; 
    -fx-padding: 5px; 
    -fx-border-color: #FFD700;
    -fx-border-width: 2px; 
    -fx-border-radius: 5px; 
}

.info-vbox.clicked{
	-fx-background-color: rgba(128,128,128,0.5) ; 
    -fx-padding: 5px; 
    -fx-border-color: #FFD700;
    -fx-border-width: 2px; 
    -fx-border-radius: 5px; 
}


.info-vbox-active {
	 -fx-background-color: rgba(128,128,128,0.5) ; 
    -fx-padding: 5px; 
    -fx-border-color: #FFD700;
    -fx-border-width: 2px; 
    -fx-border-radius: 5px; 
}


.context-menu{
    -fx-background-color: derive(#ececec,26.4%);
}
.menu-item:focused {
    -fx-background-color: transparent;
}



.my-custom-color {
    -fx-background-color: derive(#ececec,26.4%);
    -fx-padding: 1.25em;
    -fx-spacing: 1.25em;
    -fx-min-width: 20em;
    -fx-pref-width: 20em;
    -fx-max-width: 20em;
}

.my-custom-color:focused,
.my-custom-color:selected {
    -fx-background-color: transparent;
}

.my-custom-color > .color-rect-pane {
    -fx-spacing: 0.75em;
    -fx-pref-height: 16.666667em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.my-custom-color .color-rect-pane .color-rect {
    -fx-min-width: 16.666667em;
    -fx-min-height: 16.666667em;
}

.my-custom-color .color-rect-pane .color-rect-border {
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane #color-rect-indicator {
    -fx-background-color: null;
    -fx-border-color: white;
    -fx-border-radius: 0.4166667em;
    -fx-translate-x: -0.4166667em;
    -fx-translate-y: -0.4166667em;
    -fx-pref-width: 0.833333em;
    -fx-pref-height: 0.833333em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.my-custom-color > .color-rect-pane > .color-bar {
    -fx-min-height: 1.666667em;
    -fx-min-width: 16.666667em;
    -fx-max-height: 1.666667em;
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 0.333333em;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
    -fx-pref-height: 2em;
    -fx-pref-width: 0.833333em;
    -fx-translate-y: -0.1666667em;
    -fx-translate-x: -0.4166667em;
}

.my-custom-color .transparent-pattern {
    
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}

.my-custom-color .color-new-rect {
    -fx-min-width: 10.666667em;
    -fx-min-height: 1.75em;
    -fx-pref-width: 10.666667em;
    -fx-pref-height: 1.75em;
    -fx-border-color: derive(#ececec, -20%);
}