.dialog-pane {		
    -fx-border-color: rgba(53,89,119,0.6); 
    -fx-border-width: 5px;
    -fx-background-color: rgba(0,0,0,0.6); 
    -fx-background-radius: 28px; 
    -fx-border-radius: 25px;
    -fx-alignment: top-center;
}
.dialog-pane:hover {
  -fx-background-color: black; 
  -fx-border-color: rgba(53,89,119,0.6);
  
}

/* Lokalisierung der buttons*/
.dialog-pane .button-bar .container {
    /* In Codegesetzt -> button bar */
    -fx-border-radius: 20px;
    -fx-background-radius: 40px;
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: transparent;
    -fx-text-fill:white;
    -fx-wrap-text: true;
  }
  
  /* Pane header */
  .dialog-pane:header .header-panel {
    -fx-background-color: transparent;
  }
  
  .dialog-pane:header .header-panel .label{
    -fx-alignment: center;
    -fx-background-color: rgba(73, 110, 143, 0.85); 
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
  }
  
  
  /* Buttons */
  .dialog-pane .button {
    -fx-background-color: rgba(0,0,0,0.2); 
    -fx-background-radius: 35px; 
    -fx-border-radius: 35px;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, rgb(185, 221, 255), 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
   }

  .dialog-pane .button:hover{
    -fx-background-color: rgb(12, 27, 41);
    -fx-text-fill: rgb(185, 221, 255);
    -fx-font-weight:bold; 
   }

   
/* Text in Content */
.content-text {
  -fx-background-color: transparent;
  -fx-fill:white;
  -fx-wrap-text: true;
  -fx-font-size: 16px;
}
.content-text-small {
  -fx-background-color: transparent;
  -fx-fill:white;
  -fx-wrap-text: true;
  -fx-font-size: 14px;
}

/* Text im Dialog */
.content-wrapper {
  -fx-padding: 1em 1em 1em 1em;
  -fx-background-color: transparent;
}