.dialog-pane{		
    -fx-border-color: rgba(53,89,119,0.4); 
    -fx-border-width: 5px;
    -fx-background-color: black; 
    -fx-background-radius: 28px; 
    -fx-border-radius: 25px;
    -fx-alignment: top-center;
}
  
  /* Lokalisierung der buttons*/
  .dialog-pane > .button-bar > .container {
    -fx-background-color: transparent;
  }

  .dialog-pane > .content.label {
     -fx-padding: 0.5em 0.5em 0.5em 0.5em;
     -fx-background-color: transparent;
     -fx-text-fill:white;
     -fx-font-size:15.0px;
  }
  
  /* Pane header */
  .dialog-pane:header .header-panel {
    -fx-background-color: transparent;
  }
  
  .dialog-pane:header .header-panel .label{
    -fx-alignment: center;
    -fx-background-color: rgba(73, 110, 143, 0.7); 
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
  }
  
  
  /* Buttons */
  .dialog-pane .button {
     -fx-background-color: rgb(3, 15, 27);
     -fx-background-radius: 15px; 
     -fx-border-radius: 15px;
     -fx-text-fill:white;
     -fx-wrap-text: true;
     -fx-effect: dropshadow( three-pass-box, rgba(73, 110, 143, 0.7), 10.0, 0.0, 0.0, 0.0);
     -fx-cursor:hand;
   }
  
  .dialog-pane .button:hover{     
    -fx-background-color: rgb(12, 27, 41);
    -fx-text-fill: rgb(185, 221, 255);
    -fx-font-weight:bold; 
   }