.server-pane{
	-fx-background-color: rgba(0,0,0,0.5); 
	-fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
	-fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.server-pane:hover{
	-fx-background-color: rgba(20,20,20,0.4);
}
.transparent-textfield{
	-fx-background-color: rgba(20,20,20,0);
	-fx-border-color: transparent;
	-fx-prompt-fill: white;
	-fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-prompt-text-fill: white;
    -fx-display-caret: false;
}
.transparent-textfield:hover{
    -fx-background-color: rgba(112, 140, 233, 0.3);
}
