.custom-combo-box {
   -fx-background-color: black; 
   -fx-text-fill: white; 
   -fx-border-color: white; 
   -fx-border-width: 1.0px;
    
}
.custom-combo-box .list-cell {
    -fx-text-fill: white; 
    -fx-font-family: "Century Gothic", sans-serif;
}
.custom-combo-box .list-view .list-cell {
    -fx-text-fill: black; 
}

.visual-pane{
	-fx-border-color: rgba(255,255,255,1);
	-fx-border-width: 3px;
	 
}

.loading-pane{
	-fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	 -fx-background-color: rgba(0,0,0,0.8);
	 -fx-background-radius: 20px; 
	 -fx-border-radius: 20px;
}

.custom-search-field {
	-fx-prompt-text-fill: white; 
    -fx-text-fill: white;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: white; 
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px; 
    -fx-font-family: "Century Gothic", sans-serif;
}
.custom-search-field:hover {
    -fx-background-color: rgba(75, 123, 161, 0.4);
}
.bayern-label{
	-fx-fill: black;
}
.custom-info-label {
	 -fx-fill: white;
	  -fx-font-family: "Century Gothic", sans-serif;
	  -fx-text-alignment: center;
}

/* Aufklappbare ComboBox mit z.B. Piece Directions */
.bottom-box-combo-box {
    -fx-border-color: black;
    -fx-background-color: transparent; 
    -fx-text-fill: white; 
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
}
.bottom-box-combo-box .arrow {
    -fx-background-color: #ccc;
}
.bottom-box-combo-box:hover{
    -fx-background-color: rgba(73, 110, 143, 0.7); 
}
.bottom-box-combo-box:focus-within{
    -fx-border-color: white;
}
.bottom-box-combo-box .list-cell {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic", sans-serif;
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-background-color: rgba(53,89,119,0.4); 
}
.bottom-box-combo-box .list-cell:selected:filled {
    -fx-border-width: 1px;
    -fx-border-color: rgba(151, 172, 189, 0.4); 
    -fx-background-color: rgba(53,89,119,0.4); 
}
.bottom-box-combo-box .list-view {
    -fx-background-color: rgba(53,89,119,0.9);
    -fx-border-radius: 15;
    -fx-background-radius: 15; 
    -fx-border-width: 2; 
    -fx-border-color: lightgray; 
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
} 
.bottom-box-combo-box .list-view .list-cell:filled:selected {
    -fx-text-fill: rgb(65, 170, 255);
}
.bottom-box-combo-box .list-view .list-cell:filled:hover  {
    -fx-background-color: rgba(15, 38, 58, 0.4); 
}

/* Spinner für Einstellungen wie Piece Anzahl */
.spinner {
    -fx-background-color: transparent;
    -fx-border-color: black; 
    -fx-border-width: 1px; 
    -fx-border-radius: 20px; 
    -fx-background-radius: 20px; 
}
.spinner:hover { 
    -fx-background-color: rgba(29, 70, 105, 0.4); 
}
.spinner:focus-within {
    -fx-background-color: rgba(63, 119, 168, 0.4);
    -fx-border-color: white;
}
.spinner .text-field {
    -fx-alignment: center;
    -fx-text-fill: white; 
    -fx-border-color: rgba(151, 172, 189, 0.4); 
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
    -fx-background-color: rgba(53,89,119,0.4); 
}
.spinner .text-field:hover {
    -fx-border-color: rgba(191, 213, 231, 0.7); 
}
.spinner .text-field:focus-within {
    -fx-text-fill: white; 
    -fx-border-color: white;
}
.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: #ccc;
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #ccc;
}
.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-text-fill: #ccc;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
    -fx-background-color: transparent; 
}
.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: #aaa; 
}
.spinner .increment-arrow, .spinner .decrement-arrow {
    -fx-background-color: #333; 
}

/* Kreis der zeigt wohin eine Figur kann */
.move-circle{
	 -fx-fill: rgb(53,89,119);
}

/* Der add button beim piece customizer */
.add-piece-button { 
    -fx-background-color: rgba(53,89,119,0.4); 
    -fx-text-fill: white; 
    -fx-font-size: 14px; 
    -fx-font-family: "Century Gothic", sans-serif; 
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.add-piece-button:hover {
    -fx-background-color: rgba(59, 101, 138, 0.74); 
    -fx-effect: dropshadow(three-pass-box, rgba(29, 82, 128, 0.74), 10, 0, 0, 0); 
}

/* die beiden buttons oben, schwarz, zum auswählen der map und links neben dran */
.menu-button {
    -fx-background-color: rgb(25,25,25); 
    -fx-text-fill: white; 

    -fx-border-color: white; 
     -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
     -fx-border-width: 2px;   
}
.menu-button:hover {
    -fx-background-color: rgb(40,40,40); 
}
.menu-button .label {
    -fx-text-fill: white; 
}
.menu-button .menu-item .label {
    -fx-text-fill: white; 
}
.menu-item{   
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px;
}
.menu-item:focused {
    -fx-background-color: rgb(40,40,40); 
}
.context-menu {
    -fx-background-color: rgb(25,25,25);
    -fx-text-fill: white; 
    -fx-border-color: white; 
    -fx-border-width: 2.0px;
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/* "Save your Template" input Feld */
.custom-search-field2 {
    -fx-prompt-text-fill: rgb(151, 151, 151); 
    -fx-text-fill: white;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: white; 
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px; 
    -fx-text-align: center;
    -fx-prompt-align: center;
}
.custom-search-field2-mustEnter {
    -fx-prompt-text-fill: red; 
    -fx-text-fill: white;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: white; 
    -fx-border-width: 2px;
}
.custom-search-field2:hover {
    -fx-border-color: rgb(203, 203, 255);
    -fx-background-color: rgba(73, 110, 143, 0.7); 
 }
.custom-search-field2:focus-within {
    -fx-border-color: white; 
    -fx-border-width: 2px;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: blue;
    -fx-prompt-text-fill: rgb(151, 151, 151); 
}

/* Submit button für "Save your Template" */
.save-button { 
    -fx-background-color: rgba(53,89,119,0.4); 
    -fx-text-fill: white; 
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.save-button:hover {
    -fx-background-color: rgba(59, 101, 138, 0.74); 
    -fx-effect: dropshadow(three-pass-box, rgba(29, 82, 128, 0.74), 10, 0, 0, 0); 
}