.blur-pane{	
	 -fx-background-color: rgb(255,255,255,0.25);	 
}

/* Integer und Double Boxen in advanced */
.choose-number-box-postfix { 
    -fx-fill: white;
}
.choose-number-box {
    -fx-text-fill: white; 
    -fx-border-color: rgba(151, 172, 189, 0.4); 
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
    -fx-background-color: rgba(53,89,119,0.4);
}
.choose-number-box:hover{
    -fx-border-color: rgba(191, 213, 231, 0.7); 
    -fx-border-width: 2.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
    -fx-background-color: rgba(53,89,119,0.4);
}
.choose-number-box:focus-within{
    -fx-border-color: white; 
    -fx-border-width: 3.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
    -fx-background-color: rgba(53,89,119,0.4);
}

.settings-combo-box {
    -fx-background-color: rgba(53,89,119,0.4) important;
    -fx-text-fill: white important; 
    -fx-border-color: white;
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
}
.settings-combo-box:hover{
    -fx-background-color: rgba(101, 143, 179, 0.7) important; 
}
.settings-combo-box .list-cell {
    -fx-alignment: center;
    -fx-text-fill: white important; 
    -fx-font-size: 15px;
    -fx-border-width: 1.0px;
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px;
    -fx-background-color: rgba(53,89,119,0.4) important; 
}
.settings-combo-box .list-view {
    -fx-background-color: rgba(53,89,119,0.9) important;
    -fx-border-radius: 15;
    -fx-background-radius: 15; 
    -fx-border-width: 2; 
    -fx-border-color: lightgray; 
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
} 
.settings-combo-box .list-view .list-cell:filled:selected {
    -fx-text-fill: rgb(255, 33, 33) important;
}
.settings-combo-box .list-view .list-cell:filled:hover  {
    -fx-background-color: rgba(25, 42, 56, 0.9) important;
}

.custom-header {
	-fx-font-family: "Century Gothic", sans-serif;
	-fx-font-size: 20px; 
    -fx-fill: white;
	  
}

.leave-button {
	-fx-background-color: rgb(15,15,15); 
    -fx-alignment: center;
    -fx-text-fill: white;     
    -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.leave-button:hover{
    -fx-background-color: rgb(40,40,40); 
}

.mySlider .track {
    -fx-background-color: #ddd; 
}
.mySlider .track:hover{
    -fx-background-color: #8b8b8b; 
}
.mySlider .thumb {
    -fx-background-color: #007bff; 
}
.mySlider .thumb:hover {
    -fx-pref-height:18;
    -fx-pref-width:18;
    -fx-background-color: #0056b3;
}
.mySlider .thumb:pressed {
    -fx-background-color: #003e80; 
}

.pop-up-pane{
	-fx-border-color: rgba(53, 89, 119,0.4);
	 -fx-border-width: 5px;
	 -fx-background-color: rgb(0,0,0);
	 -fx-background-radius: 13px; 
	 -fx-border-radius: 10px;
	 -fx-alignment: center;
	 -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10, 0.5, 0, 0);
}