
.combo-box
{
	  -fx-background-color: rgba(53,89,119,0.4); 
   -fx-text-fill: white; 
   -fx-border-color: white; 
   -fx-border-width: 2.0px;
   -fx-background-radius: 20px; 
	 -fx-border-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
}


.combo-box .list-cell {
    -fx-text-fill: white; /* Ändert die Textfarbe */
   -fx-font-size: 15px;
    
}

.combo-box-popup .list-view 
{
   
    -fx-background-radius: 5; /* Radius für abgerundete Ecken */
    -fx-border-color: lightgray; /* Randfarbe */
    -fx-border-width: 0.5; /* Randbreite */
    -fx-effect: dropshadow( three-pass-box , rgba(53,89,119,0.4) , 8, 0.0 , 0 , 0 );
}    


.combo-box-popup .list-view .list-cell 
{
   

    /* No alternate highlighting */
    -fx-background-color: black;
-fx-border-color: lightgray; /* Farbe der Trennlinien */
    -fx-border-width: 0 0 1 0; /* Dicke der Trennlinien (nur am unteren Rand) */
}
.combo-box-popup .list-view .list-cell:last-child {
    -fx-border-width: 0; /* Entfernt die Trennlinie am unteren Rand der letzten Zelle */
}

.show-GamePane {
	fx-border-color: rgba(255,255,255,1); 
	-fx-border-width: 2px;
	-fx-background-color: rgb(25,25,25);
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-alignment: top-center;
}
.custom-search-field2 {
	 -fx-prompt-text-fill: white; 
    -fx-text-fill: white;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: white; -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px; 
     -fx-font-family: "Century Gothic", sans-serif;
}
.custom-search-field2:focused {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}
 

.color-palette .hyperlink, .color-palette .separator {
    visibility: hidden;
}
.color-palette {
    -fx-padding: 15 15 -30 15;
}





.combo-box-popup .list-view .list-cell:filled:selected{
	

    -fx-text-fill: red;
     -fx-border-width: 0 0 1 0;
     -fx-border-color: lightgray;
    
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: rgba(53,89,119,0.4) ;
    -fx-text-fill: white;
}





 






