.custom-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic", sans-serif;
    
}
.custom-menu-button {
    -fx-background-color: rgb(25,25,25); 
    -fx-text-fill: red; 
    -fx-font-weight: bold; 
    -fx-border-color: white; 
     -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
     -fx-border-width: 2px;   
}

.custom-menu-button:hover {
    -fx-background-color: #252424; 
}
.custom-menu-button .label {
    -fx-text-fill: white; 
   
}
.custom-menu-button .menu-item .label {
    -fx-text-fill: black; 
}
.custom-combo-box {
   -fx-background-color: black; 
   -fx-text-fill: white; 
   -fx-border-color: white; 
   -fx-border-width: 1.0px;
    
    }
    .custom-combo-box .list-cell {
    -fx-text-fill: white; 
    -fx-font-family: "Century Gothic", sans-serif;
}
.custom-combo-box .list-view .list-cell {
    -fx-text-fill: black; 
}
.custom-combo-box-2 {
   -fx-background-color: rgb(25,25,25); 
   -fx-text-fill: white; 
   -fx-border-color: white; 
   -fx-border-width: 2.0px;
   -fx-background-radius: 5px; 
	 -fx-border-radius: 5px;
   -fx-font-size: 90%;
    
    }
    .custom-combo-box-2 .list-cell {
    -fx-text-fill: white; 
    -fx-font-family: "Century Gothic", sans-serif;
}
.custom-combo-box-2 .list-view .list-cell {
    -fx-text-fill: black; 
}
.join-root {
	 -fx-background-color: #202F3B;
}
.option-pane {
	-fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 2px;
	 -fx-background-color: #475865;
	 -fx-background-radius: 20px; 
	 -fx-border-radius: 20px;
	 -fx-alignment: top-center;
}
.pop-up-pane{
	-fx-border-color: rgba(53, 89, 119,0.4);
	 -fx-border-width: 5px;
	 -fx-background-color: rgb(0,0,0);
	 -fx-background-radius: 13px; 
	 -fx-border-radius: 10px;
	 -fx-alignment: top-center;
	  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10, 0.5, 0, 0);
}
.blur-pane{	
	 -fx-background-color: rgb(255,255,255,0.25);	 
}
.leave-button {
	 -fx-background-color: rgb(15,15,15); 
    -fx-text-fill: white; 
    
    
	 -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.save-button {
	 -fx-background-color: rgb(30,90,30); 
    -fx-text-fill: white; 
	 -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.custom-search-field {
	 -fx-prompt-text-fill: white; 
    -fx-text-fill: white;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-border-color: white; -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px; 
     -fx-font-family: "Century Gothic", sans-serif;
}
.custom-header {
	 -fx-font-family: "Century Gothic", sans-serif;
	  -fx-font-size: 20px; 
	  -fx-fill: white;
	  
}
.session-info {
	-fx-border-color: rgba(255,255,255,1);
	 -fx-border-width: 1px;
	 -fx-background-color: rgba(53,89,119,0.4);
	 -fx-background-radius: 20px; 
	 -fx-border-radius: 20px;
	 -fx-alignment: top-center;
}
.join-button {
	 -fx-background-color: rgb(30,90,30); 
    -fx-text-fill: white; 
    -fx-font-size: 14px; 
    -fx-font-family: "Century Gothic", sans-serif; 
	 -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}
.custom-info-label {
	 -fx-fill: white;
	  -fx-font-family: "Century Gothic", sans-serif;
	  -fx-text-alignment: center;
}
.spinner {
   -fx-control-inner-background: rgba(10,40,50,1); 
    -fx-border-color: black; 
    -fx-border-width: 1px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px; 
}

.spinner .text-field {
	-fx-text-fill: white;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: #ccc; 
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: #aaa; 
}

.spinner .increment-arrow, .spinner .decrement-arrow {
    -fx-background-color: #333; 
}
.move-circle{
	 -fx-fill: rgb(53,89,119);
}

.mySlider .track {
    -fx-background-color: #ddd; 
}

.mySlider .thumb {
    -fx-background-color: #007bff; 
}

.mySlider .thumb:hover {
    -fx-background-color: #0056b3;
}

.mySlider .thumb:pressed {
    -fx-background-color: #003e80; 
}
.info-pane {
	-fx-background-color:rgba(53, 89, 119,0.8);
	-fx-border-color: white;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 2px; 
}
.ai-pane{
	-fx-background-color: rgba(53,89,119,0.4); 
	 -fx-background-radius: 5px; 
    -fx-border-radius: 5px; 
    -fx-border-color: white; 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0); 
}

